*{
    background-color: #D3D3D3 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
  
  .footer {
    background: #708090;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #444;
    color: #778899;
  }
  
  @media (max-width: 768px) {

    .footer-content {
      flex-direction: column;
      align-items: center;
    }
    .footer-section {
      margin-bottom: 20px;
    }
  }
  

navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {

    .content
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
  .main-container{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    
    
  }
  #content{
  width: 100%;
    flex-basis: 75%;
  }
  .aside{
flex-basis: 25%;
  }
    
  
  